<h1>用户注册</h1>

<%= form_for @user do |f| %>
  
  <div>
    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> : </h2>
     
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  </div>
  
  <div class="form-group">
    <%= f.text_field :username, class: "form-control", placeholder: "用户名" %>
  </div>
  <div class="form-group">
    <%= f.password_field :password, class: "form-control", placeholder: "密码" %>
  </div>
  <button type="submit" class="btn btn-default">
    <%= f.submit "注册" %>
  </button>
  <span>
    <%= link_to "登录", new_session_path %>
  </span>

<% end %>
